body {
    background-image: url('./home.jpg');
    background-repeat: no-repeat;
            background-size: 100vw 100vh;
            background-attachment: cover;
            height: 40em;
            margin-top: 0;
            padding: 0;}


}
/*body {
    width:1920px;
    background-color: #f8e0b3;
    height:1080px;
}*/

/*@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}*/

/*html, body {
    height:100%;
        margin:0;
        padding:0;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

nav {
    -webkit-box-shadow: 0 5px 6px -6px #999;
    -moz-box-shadow: 0 5px 6px -6px #999;
    box-shadow: 0 5px 6px -6px #999;
    /*text-shadow: 0px 1px 3px rgba(0,0,0,0.2),
				 0px 2px 3px rgba(0,0,0,0.1),
				 0px 2px 6px rgba(0,0,0,0.1);*/
    /*border-bottom: 1px solid rgba(0,0,0,.5)*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 75px;
    background-color: rgba(13, 8, 32, .0);
}

li {
    float: left;
}

li a {
    text-align: right;
    display: block;
    color: #dabb61;
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    border-bottom: 2px solid #fce847;
    /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));*/
}

hr {
    width: 100%;
    /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#list-hr {
    width: 100%;

}

h1 {
    margin-top: 150px;
    text-align: center;
}

h2 {
    margin-top: 0;
    width: 300px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 2%;
}

h3 {
    /*float: left;*/
    text-align: left;
    margin: 0;
}

h4 {
    text-align: left;
    margin: 0;
    /*float: left*/
    f
}

h5 {
    text-align: left;
    margin: 0;
}

br {
    margin: 0;
}

button:focus {
    outline: 0;
}

iframe {
    border: 0;
    float: left;
    /*width: 450px;*/
    /*float: left;*/
}

input {
    border: 0;
    height: 20px;
    border: 2px solid black;
    outline: none;
}
ul {
    list-style-type: none;
}
}
.row,
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
    height: 600px;
}

.column + .column {
    /*margin-left: 1.6%;*/
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-top: 5px;
    margin-left: 0;
}

@media only screen and (max-width: 550px) {
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        float: none;
        width: auto;
    }

    .column + .column {
        margin-left: 0;
    }
}
.column {
    background: #eee;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    /*color: #777;*/
    /*padding: 5px;*/
    overflow: auto;
    min-height: 30px;
    text-align: left;
}
#home-btn {
    background-color: #3b783a;
    color: white;
    border: 0;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3)
}

#home-btn:hover {
    background-color: #70ae29;
    color: white;
}

#logo {
    font-size: 30px;
    border-bottom: 0;
    margin-left: 5%;
}

#logo:hover {
    border-bottom: 0;
    /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));*/
}

#second-page {
    width: 90%;
    float: right;
}

#search-button {
    /*background-color: #457308;
    float: left;
    color: white;
    border: 0;
    margin-left: -60px;
    padding: 3px;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3)*/
    background: transparent;
    border: none !important;
    font-size: 0;
}

#search-button:hover {
    background-color: #70ae29;
    color: white;
}

#store-radius {
    width: 230px;
}
#OneStore-Picture {
    background-image: url(./OneStore.jpg);
    background-size: cover;
    background-position: center;
}

.store-button-inactive {
    width: 102px;
    float: left;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.store-button-active {
    width: 102px;
    float: left;
    color: black;
    background-color: #64a2f8;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}
.total {
    border: 1px solid grey;
    width: 100%;
    height: 140px;
}
.store-image {
    width: 150px
}

/*#zero {
    margin: 0;
    padding: 0;
    height: 0;
    width: ;
}*/

#Welcome_Apprice {
    font-size: 35px;
}

#links {
    font-size: 20px;
    float: right;
}

#imageContainer {
    /*margin-left: 44%;*/
    margin: 0 2%;
    overflow: auto;
    width: 63.5%;
    float: left;
    height: 500px;
    background-color: #dddddd;
    border: 1px solid black;
    /*position: fixed;*/
}

#list-container {
    /*margin-top: 20*/
    float: left;
    /*position: fixed;*/
    width: 950px;
    /*height: 300px;*/
    /*background-color: white;*/
    border-radius: 5px;
    margin-top: 2%;
    padding-left: 50px;
    /*border: 2px solid #f7df3b;*/
}

#map-container {
    margin-top: 4%;
    /*margin: 0 auto;*/
    /*padding: 5px;*/
    float: left;
    margin-left: 5px;
    /*border: 2px solid black;*/
    height: 560px;
}

#list {
    background-color: white;
    overflow: auto;
    height: 487px;
    width: 30%;
    list-style-type: disc;
    border: 1px solid black;
    /*margin-top: 45px;*/
    float: left;
    /*margin-right: 3px;*/
}
#list-ul {
    margin: auto 5px;
    margin-top: 5px;
}

.home-container {
    float: right;
    margin-right: 5.5%;
    width: 25%;
    margin-top: 10%;
    height: 80%;
    background-color: rgba(255,255,255,.9);
    border-radius: 20px;
    padding: 30px 0;
}

#shopping-title {
    margin: 0;
    margin-bottom: 5px;
}

#list-searchbar {
    width: 470px;
    float: left;
    margin-bottom: 5px;
    margin-left: 20px;
    border-radius: 10px;
}

#map-searchbar {
    float: left;
    width: 300px;
    /*margin-left: 20px;*/
    border-radius: 10px;
}

#display-radius {
    font-size: 20px;
    /*font-weight: bold;*/
    /*margin-left: 5px;*/
    float: left;
}

#Apprice-me {
    font-size: 30px;
    background: green;
    padding: 5px;
    color: white;
    margin-top: 100px;
    /*display: flex;*/
}
#apprice-btn-container {

}

.grocery-search {
    /*width: 100px;*/
}
/*🃏*/
.card {
    /*border-radius: 5px;*/
    width: 140px;
    height: 150px;
    float: left;
    font-size: 12px;
    background-color: #323c5c;
    margin: 5px 5px;
    /*border: 1px solid black;*/
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /*box-shadow: 0 0 1px transparent;*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.card:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-image {
    /*border: 1px solid black;*/
    width: 100%;
    height: 65%;
    /*border-radius: 5px;*/
    /*border-radius: 10%;*/
}

.card-title {
    height: 30%;
    color: white;
    background-color: rgba(0,0,0,0);
    /*border-radius: 5px;*/
}
/*🎁*/
.container {
    /*margin-top: 5%;*/
    text-align: center;
    background-color: rgba(255,255,255,1);
    /*width: 90%;*/
    height: 100%;
    /*margin: 4.5% auto;*/
    padding-bottom: 8%;
    padding-top: 5%;
    /*background-color:  rgba(0,0,0,.2);*/
}

.welcome {
    text-align: center;
    margin: 0 auto;
    /*margin-right: 70%;*/
    font-size: 25px;
}

.container:after, #list-container:after {
    display: table;
    content: " ";
    clear: both;
}
